<h1>List of People</h1>
<div>
  <label for="fName">First Name: </label>
  <input id="fName" [(ngModel)]="searchGuest.firstName" placeholder="First Name" />
</div>
<div>
  <label for="lName">Last Name: </label>
  <input id="lName" [(ngModel)]="searchGuest.lastName" placeholder="Last Name" />
</div>
<button (click)="findPerson(searchGuest)">Search</button>

<ul>
  <li *ngFor="let person of guests">
    <h2>{{ person.firstName }} {{ person.lastName }}</h2>
    <div>
      Age: {{ person.getAge() }}
    </div>
    <div>
      Date of Birth: {{ person.dateOfBirth | date: 'MMMM dd, yyyy' }}
    </div>
  </li>
</ul>

<div *ngIf='guests.length == 0'>
  Search returned no results.
  <button (click)="getPeople()">Show All Guests</button>
</div>
